# Server Configuration
PORT=3000
NODE_ENV=production

# API Configuration
API_URL=https://admin-card-api.onrender.com

# Facebook Graph API Token (Optional)
FACEBOOK_ACCESS_TOKEN=6628568379%7Cc1e620fa708a1d5696fb991c1bde5662
